:root {
    --black: #000000;
    --white: #FFFFFF;
    --stl-color: #46FFDD;
    --blue: #1298FF;
    --green: #27b63f;
    --green-visited: #00a01b;
    --blue-active: #03b7c4;
}

    
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.body__width {
    margin: auto;
    max-width: 90vw;
}
.logo img {
    max-width: 300px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    padding-bottom: 0;
    background-color: var(--black);
    color: var(--white);
}
.download {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: var(--white);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(18,152,255,1) 55%, rgba(0,84,149,1) 85%, rgba(0,0,0,1) 100%);
}
.download h1 {
    color: var(--white);
    max-width: 600px;
    margin-bottom: 1em;
    margin-top: -0.5em;
}
.download .headbutton {
    font-size: xx-large;
    font-weight: 300;
    padding: 0.5em;
}

.uvod {
    margin-top: 1em;
}

.nadpisy {
    margin-left: 2em;
}




.buttons {
    display: flex;
    flex-direction: column;
    gap: 3em;
}






.buttons {
    margin: 2.5em auto 2.5em auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 30em;
    justify-content: space-evenly;
}






footer {
    background-color: var(--black);
    padding-bottom: 1em;
}
.footer__logo {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 70%, rgba(101,101,101,1) 85%, rgba(255,255,255,1) 100%);
    padding: 2em;
}
.footer__text {
    color: var(--white);
}
.copyright {
    display: flex;
    justify-content: right;
}
.copyright p {
    font-size: small;
    padding-right: 2em;
}