:root {
    --black: #000000;
    --white: #FFFFFF;
    --stl-color: #46FFDD;
    --blue: #1298FF;
    --green: #27b63f;
    --green-visited: #00a01b;
    --blue-active: #03b7c4;
}

    
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.logo img {
    max-width: 300px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: var(--black);
    color: var(--white);
}
.download {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: var(--white);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(18,152,255,1) 55%, rgba(0,84,149,1) 80%, rgba(0,0,0,1) 93%);
}
.download h1 {
    color: var(--white);
    max-width: 300px;
    margin-bottom: 2em;
}
.download .button__basic {
    font-size: xx-large;
    font-weight: 300;
    padding: 0.5em;
}