:root {
    --black: #000000;
    --white: #FFFFFF;
    --stl-color: #46FFDD;
    --blue: #1298FF;
    --light-green: #33FF55;
    --dark-green: #004b0c;
    --green: #27b63f;
    --green-visited: #00a01b;
    --blue-active: #03b7c4;
    --red: #ff4646;
}

/* Most basic link setting */
a:link {
    color: var(--green);
}
a:visited {
    color: var(--green-visited);
}
a:hover {
    color: var(--stl-color);
}


.button {
    padding: 1em;
    text-decoration: none;
    border: 3px solid;
    border-radius: 0.5em;
    transition: 0.4s;    
}
.button:link, .button:visited, .button:hover {
    color: var(--black);
}
.button:hover {
    border-radius: 3em;
}


/* basic button format */
.button--basic:link {
    color: var(--light-green);
    border: 3px solid var(--light-green);
}
.button--basic:visited {
    color: var(--light-green);
}
.button--basic:hover {
    color: var(--black);
    font-weight: 600;
    border: 3px solid var(--stl-color);
    background-color: var(--stl-color);
}


/* basic button format FOR LIGHT BACKGROUND*/
.button--dark:link {
    color: var(--dark-green);
    border: 3px solid var(--dark-green);
}
.button--dark:visited {
    color: var(--dark-green);
}
.button--dark:hover {
    color: var(--black);
    font-weight: bold;
    border: 3px solid var(--stl-color);
    background-color: var(--stl-color);
}


/* notification button format*/
.button--rednotif:link {
    color: var(--black);
    border: 3px solid var(--black);
    background-color: var(--red);
    transition: 0s;
}
.button--rednotif:visited {
    color: var(--black);
    border: var(--black);
}
.button--rednotif:hover {
    color: var(--white);
    border: 3px solid var(--black);
    background-color: var(--blue);
    border-radius: 0.5em;
    transition: 0s;
}


/* milder notification button format*/
.button--subnotif:link {
    color: var(--black);
    border: 3px solid var(--black);
    background-color: var(--blue);
    transition: 0.2s;
}
.button--subnotif:visited {
    color: var(--black);
    border: var(--black);
}
.button--subnotif:hover {
    color: var(--black);
    border: 3px solid var(--black);
    background-color: var(--blue);
    border-radius: 1em;
    transition: 0.2s;
}




section {
    padding-bottom: 3em;
}
code {
    background-color: var(--stl-color);
    border: solid 1px hidden;
    border-radius: 8px;
}
p {
    font-size: 19px;
    line-height: 30px;
    margin: 1em;
}
b {
    font-weight: 800;
    letter-spacing: px;
}
h1 {
    font-size: 50px;
    letter-spacing: 2px;
}
h2 {
    font-size: 40px;
    letter-spacing: 2px;
}
h3 {
    font-size: 30px;
    letter-spacing: 2px;
}
h4 {
    font-size: 25px;
    letter-spacing: 2px;
}
h5 {
    font-size: 20px;
    letter-spacing: 2px;
}
h6 {
    font-size: 15px;
    letter-spacing: 2px;
}
img {

}