:root {
    --black: #000000;
    --white: #FFFFFF;
    --stl-color: #46ffdd;
    --blue: #1298FF;
    --light-green: #33ff55;
    --dark-green: #004b0c;
    --green: #27b63f;
    --green-visited: #00a01b;
    --blue-active: #03b7c4;
    --red: #ff4646;
}

/* Most basic link setting */
a:link {
    color: var(--green);
}
a:visited {
    color: var(--green-visited);
}
a:hover {
    color: var(--stl-color);
}


.button {
    padding: 1em;
    text-decoration: none;
    border: 3px solid;
    border-radius: 0.5em;
    transition: 0.4s;    
}
.button:link, .button:visited, .button:hover {
    color: var(--black);
}
.button:hover {
    border-radius: 3em;
}


/* basic button format */
.button--basic:link {
    color: var(--light-green);
    border: 3px solid var(--light-green);
}
.button--basic:visited {
    color: var(--light-green);
}
.button--basic:hover {
    color: var(--black);
    font-weight: 600;
    border: 3px solid var(--stl-color);
    background-color: var(--stl-color);
}


/* basic button format FOR LIGHT BACKGROUND*/
.button--dark:link {
    color: var(--dark-green);
    border: 3px solid var(--dark-green);
}
.button--dark:visited {
    color: var(--dark-green);
}
.button--dark:hover {
    color: var(--black);
    font-weight: bold;
    border: 3px solid var(--stl-color);
    background-color: var(--stl-color);
}


/* notification button formats*/
/* red notification format */
.button--rednotif:visited {
    color: var(--black);
    border: var(--black);
}
.button--rednotif:hover {
    color: var(--white);
    border: 3px solid var(--blue-active);
    background-color: var(--red);
    border-radius: 1.5em;
    transition: 0.4s;
}


/* more subtle blue ntification format */
.button--subnotif:hover {
    color: var(--white);
    border: 3px solid var(--black);
    background-color: var(--blue);
    border-radius: 0.5em;
    transition: 0.4s;
}



section {
    padding-bottom: 3em;
}
code {
    background-color: var(--stl-color);
    border: solid 1px hidden;
    border-radius: 8px;
}
p {
    font-size: 19px;
    line-height: 30px;
    margin: 1em;
}
b {
    font-weight: 800;
    letter-spacing: px;
}
h1 {
    font-size: 50px;
    letter-spacing: 2px;
}
h2 {
    font-size: 40px;
    letter-spacing: 2px;
}
h3 {
    font-size: 30px;
    letter-spacing: 2px;
}
h4 {
    font-size: 25px;
    letter-spacing: 2px;
}
h5 {
    font-size: 20px;
    letter-spacing: 2px;
}
h6 {
    font-size: 15px;
    letter-spacing: 2px;
}
img {

}











table {
    border-collapse: collapse;
    width: 80%;
    
}
td, th {
    border: thin rgb(0, 0, 0) solid;
    padding: 1rem;
    text-align: center;
}
thead, tbody {
    border: 3px solid black;
}
thead {
    background-color: var(--blue);
    color: white;
}
thead th, thead td {
    border: solid thin rgb(0, 0, 0);
}
/* .brass {
    background-color: #D4D297;
}
.steel {
    background-color: #DFE1E1;
}
.titanium {
    background-color: #aab6fe;
}
tbody tr:first-child th {
    background-color: #bbdefb;
}
tbody tr:hover {
    text-shadow: 0 1px #1976d2;
}
.sold-out {
    color: red;
} */